@if (loading()) {
  <mat-progress-bar mode="indeterminate" />
}

<div class="data-table__wrapper">
  <table mat-table [dataSource]="data()" matSort (matSortChange)="onSort($event)">
    @for (col of columns(); track col.key) {
      <ng-container [matColumnDef]="col.key.toString()">
        <th mat-header-cell *matHeaderCellDef
            [mat-sort-header]="col.sortable ? col.key.toString() : ''"
            [disabled]="!col.sortable"
            [style.width]="col.width || 'auto'">
          {{ col.header }}
        </th>
        <td mat-cell *matCellDef="let row">
          @if (col.template) {
            <ng-container
              [ngTemplateOutlet]="col.template"
              [ngTemplateOutletContext]="{ $implicit: row, column: col }">
            </ng-container>
          } @else {
            @switch (col.type) {
              @case ('date') {
                {{ row[col.key] | date:'d MMM yyyy' }}
              }
              @default {
                {{ row[col.key] }}
              }
            }
          }
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns()"
        class="data-table__row"
        (click)="rowClicked.emit(row)">
    </tr>
  </table>
</div>

@if (data().length === 0 && !loading()) {
  <div class="data-table__empty">
    <mat-icon>search_off</mat-icon>
    <p>No se encontraron resultados</p>
  </div>
}

@if (totalItems() > 0) {
  <mat-paginator
    [length]="totalItems()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="onPage($event)"
    showFirstLastButtons />
}
